* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
button,
input {
  font-family: "Ubuntu", sans-serif;
  color: rgb(208, 214, 228);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --primary-color: #3d167c;
  --secondary-color: #6d31bc;
}

.Container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4rem;

  min-width: 100vw;
  min-height: 100vh;

  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom,
    var(--primary-color) 87%,
    #0e0e0e 100%
  );
}

.CustomizationContainer {
  display: grid;
  grid-template-rows: 0.1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "op op"
    "pv pn";
  gap: 20px;
  width: max(60vh, 800px);
  height: max(70vh, 400px);

  padding: 2rem 2rem 2.5rem;
  border-radius: 8px;
  border: 3px solid #36423f;

  background: #aeccb2;
}

.options {
  grid-area: op;
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.optionContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background: #7d9584;
  border-radius: 4px;
}

.optionContainer p {
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.741);
  letter-spacing: -2px;
}

.option-selected {
  background: #556855;
}

.playerView {
  grid-area: pv;

  display: flex;
  justify-content: center;
  align-items: center;
  background: #7d9584;
  border-radius: 8px;
}

.panel {
  grid-area: pn;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #7d9584;
  border-radius: 8px;
}

.colors {
  display: grid;
  gap: 13px;
  grid-template-columns: 1fr 1fr 1fr;
}

.color {
  width: max(40px, 5vh);
  height: max(40px, 5vh);
  border-radius: 5px;
  border: solid 4px black;
}

.selected {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected:before {
  content: "X";
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 90%;
  background: #2222229a;
  color: black;
  font-size: 1.4rem;
  border-radius: 100%;
  border: solid 1px black;
}

/* -----  Player ----- */

.player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-body {
  position: relative;
}

.head {
  position: relative;
  height: 200px;
  width: 140px;

  border: 10px solid black;
  border-bottom: none;
  border-radius: 60px 80px 0 0;

  background: var(--primary-color);
}

.head:after {
  content: "";
  position: absolute;
  width: 95%;
  height: 85%;

  top: 2.5px;
  left: 6px;

  border-radius: 66% 100% 100% 100% / 45% 93% 67% 75%;

  background: var(--secondary-color);
}

.legs {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.leg {
  height: 50px;
  width: 60px;
  background: var(--primary-color);
  border: 10px solid black;
  border-top: none;
  border-radius: 0 0 22px 22px;
}

.middleOfTheLegs {
  position: absolute;
  right: 30%;
  top: -5px;
  background: black;
  height: 10px;
  width: 48px;
  border-radius: 15px 15px 40px 15px;
}

.back {
  position: relative;
  height: 120px;
  width: 35px;
  background: var(--secondary-color);

  border: 10px solid #000000;
  border-right: none;
  border-radius: 20px 0 0 20px;
}

.back:before {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 88px;
  width: 25.4px;
  background: var(--primary-color);
  border-radius: 12px 0 0 8px;
}

.glass {
  position: absolute;
  top: 30px;
  left: 40px;
  height: 75px;
  width: 110px;

  background: #225381;

  border-radius: 25px 50px 30px 30px;
  border: 10px solid #000000;

  z-index: 2;
}

.glass:before {
  content: "";
  position: absolute;
  width: 85%;
  height: 65%;
  background-color: #71d4ec;
  border-radius: 0 28px 3px 30px;
  right: 0;
  top: 0;
}

.glass:after {
  content: "";
  position: absolute;
  width: 45%;
  height: 22%;
  background-color: #f7f7f7;
  left: 39px;
  top: 5px;
  border-radius: 10px;
  transform: rotate(6deg);
}

.shadow {
  position: absolute;
  bottom: -10px;
  height: 40px;
  width: 210px;
  background-color: rgba(0, 0, 0, 0.768);
  border-radius: 50%;
  z-index: 0;
}

/* ---  Player end --- */
